include LICENSE
include README.md
include pyproject.toml

recursive-include tiptop_ipy/instrument_templates *.ini *.json
include tiptop_ipy/defaults.yaml

exclude claude_wishlist.md
prune docs/_build
prune .claude
prune status
