[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparsedirs = "*"
scalyca = "*"
numpy = "*"
requests = "*"
requests-toolbelt = "*"
astropy = "*"
dotmap = "*"
colorama = "*"
schema = "*"

[dev-packages]

[requires]
python_version = "3.11"
